<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <!--h1 style="color: beige; font-weight: bold;">Servicios</-h1-->
        <div class="buttons">
          <li><a href="reservations" class="button">Reservas</a></li>  
          <li><a href="categories" class="button">Categorías</a></li>
          <li><a href="persons" class="button">Personas</a></li>
          <li><a href="medical-records" class="button">Ficha Clínica</a></li>
          <li><a href="#" class="button" (click)="loadData()">Cargar Datos</a></li>
          <li><a href="#" class="button" (click)="eraseData()">Eliminar datos</a></li>
        </div>
    </div>
</body>