<body>
    <div class="container">
        <h1>Servicios Clínica</h1>
        <div class="buttons">
            <a href="reservations" class="button">Reservas</a>
            <a href="categories" class="button">CRUD Categorías</a>
            <a href="persons" class="button">CRUD Personas</a>
            <a href="medical-records" class="button">CRUD Ficha Clínica</a>
            <a href="#" class="button" (click)="loadData()">Cargar Datos Base</a>
            <a href="#" class="button" (click)="eraseData()">Limpiar datos</a>
        </div>
    </div>
</body>