<h1 mat-dialog-title>Crear Persona</h1>
<div mat-dialog-content class="dialog">
    <mat-form-field hideRequiredMarker="true">
        <mat-label>Nombre</mat-label>
        <input required matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field hideRequiredMarker="true">
        <mat-label>Apellido</mat-label>
        <input required matInput [(ngModel)]="data.lastName">
    </mat-form-field>
    <mat-form-field hideRequiredMarker="true">
        <mat-label>Teleforno</mat-label>
        <input required matInput [(ngModel)]="data.phone">
    </mat-form-field>
    <mat-form-field hideRequiredMarker="true">
        <mat-label>Email</mat-label>
        <input required matInput [(ngModel)]="data.email">
    </mat-form-field>
    <mat-form-field hideRequiredMarker="true">
        <mat-label>Cedula</mat-label>
        <input required matInput [(ngModel)]="data.cedula">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Doctor?</mat-label>
        <mat-select [(ngModel)]="data.flag_is_doctor" placeholder="Seleccionar una opcion">
            <mat-option [value]="true">Sí</mat-option>
            <mat-option [value]="false">No</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-button (click)="accept()">Confirmar</button>
</div>