<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<button class="button" (click)="openCreateDialog()">
    Crear
</button>
<div class="tablecontainer">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Cédula</th>
                <th>Doctor?</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="availablePersons.length == 0; else table_data">
                <td colspan="8" style="text-align: center">
                    No hay personas registradas
                </td>
            </tr>
            <ng-template #table_data>
                <ng-container *ngFor="let person of availablePersons">
                    <tr *ngIf="person.id !== -1">
                        <td>{{person.id}}</td>
                        <td>{{person.name}}</td>
                        <td>{{person.lastName}}</td>
                        <td>{{person.phone}}</td>
                        <td>{{person.email}}</td>
                        <td>{{person.cedula}}</td>
                        <td>{{person.flag_is_doctor}}</td>
                        <td>
                            <button class="button action" (click)="openEditDialog(person)">
                                <i class="fa-solid fa-pencil"></i> Editar
                            </button>
                            <button class="button action" (click)="delete(person)">
                                <i class="fa-solid fa-trash"></i> Borrar
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </ng-template>
        </tbody>
    </table>
</div>