
    <header>
        <a href="" class="button">
            <i class="fas fa-home"></i> Inicio
        </a>
            <i><a href="reservations" class="button">Reservas</a></i>  
            <i><a href="categories" class="button">Categorías</a></i>
            <i><a href="persons" class="button">Personas</a></i>
            <i><a href="medical-records" class="button">Ficha Clínica</a></i>
            <!--<li><a href="#" class="button" (click)="loadData()">Cargar Datos Base</a></li>
            <li><a href="#" class="button" (click)="eraseData()">Limpiar datos</a></li>-->
    </header>
