<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

    <header>
        <a href="" class="button" >
            <i class="fas fa-home"></i> Inicio
        </a>
            <i><a href="reservas" class="button">Reservas</a></i>  
            <i><a href="categoria" class="button">Categorías</a></i>
            <i><a href="personas" class="button">Pacientes y Doctores</a></i>
            <i><a href="ficha-clinica" class="button">Ficha Clínica</a></i>
            <!--<li><a href="#" class="button" (click)="loadData()">Cargar Datos Base</a></li>
            <li><a href="#" class="button" (click)="eraseData()">Limpiar datos</a></li>-->
    </header>
