<button class="button" (click)="openCreateDialog()">Crear</button>

<button disabled="disabled" style ="display: flex; align-items: flex-start; overflow-x: auto;">
  <div class="table-filters">
    <mat-form-field class="table-filters__item">
      <mat-label>Ingrese un rango de fechas</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Fecha desde"
          [(ngModel)]="tableFilters.dateFrom"
        />
        <input
          matEndDate
          placeholder="Fecha hasta"
          [(ngModel)]="tableFilters.dateTo"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    
    <mat-form-field hideRequiredMarker="true" class="table-filters__item">
      <mat-label>Paciente</mat-label>
      <input matInput [(ngModel)]="tableFilters.patient" />
    </mat-form-field>

    <mat-form-field hideRequiredMarker="true" class="table-filters__item">
      <mat-label>Doctor</mat-label>
      <input matInput [(ngModel)]="tableFilters.doctor" />
    </mat-form-field>

    <div>
      <button class="button" (click)="filter()">Filtrar</button>
      <button class="button" (click)="clearFilters()">Limpiar</button>
    </div>
  </div>
</button>
<div class="tablecontainer">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Doctor</th>
        <th>Paciente</th>
        <th>Fecha</th>
        <th>Horario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="filteredReservations.length == 0; else table_data">
        <td colspan="7" style="text-align: center">
          No hay reservas registradas
        </td>
      </tr>
      <ng-template #table_data>
        <ng-container *ngFor="let reservation of filteredReservations" #table>
          <tr *ngIf="reservation.id !== -1">
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.doctor.name + ' ' + reservation.doctor.lastName }}</td>
            <td>{{ reservation.patient.name + ' ' + reservation.patient.lastName }}</td>
            <td>{{ reservation.date | date : 'dd/MM/YYYY' }}</td>
            <td>{{ reservation.time.hours | number:'2.0' }}:{{ reservation.time.minutes | number:'2.0' }} - 
              {{ reservation.time.hours +1 | number:'2.0' }}:{{ reservation.time.minutes | number:'2.0' }}</td>
            <td>
                <button style="background-color: #cb0303;" class="button action button-cancelar" (click)="delete(reservation)">
                    <i class="fa-solid fa-times"></i> Cancelar
                </button>
            </td>
          </tr>
        </ng-container>
      </ng-template>
    </tbody>
  </table>
</div>
